<p>
    <a routerLink="new" class="btn btn-primary">add new product</a>
</p>
<p>
    <input [(ngModel)]="query" type="text" class="form-control" placeholder="Search...">
</p>
<!-- <table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products | searchProducts: query">
            <td>{{ p.title }}</td>
            <td>{{ p.price }}</td>
            <td>{{ p.category }}</td>
            <td>
                <a [routerLink]="['./', p.key]">Edit</a>
            </td>
        </tr>
    </tbody>
</table> -->
<div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>
    
        <!-- title Column -->
        <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.title}}% </mat-cell>
        </ng-container>
    
        <!-- price Column -->
        <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.price}} </mat-cell>
        </ng-container>
    
        <!-- category Column -->
        <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.category}} </mat-cell>
        </ng-container>

        <!-- edit(empty) Column -->
        <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef mat-sort-header>  </mat-header-cell>
            <mat-cell *matCellDef="let row"> Edit </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>