<p>
    <a routerLink="new" class="btn btn-primary">add new product</a>
</p>
<p>
    <input [(ngModel)]="query" type="text" class="form-control" placeholder="Search...">
</p>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products | searchProducts: query">
            <td>{{ p.title }}</td>
            <td>{{ p.price }}</td>
            <td>{{ p.category }}</td>
            <td>
                <a [routerLink]="['./', p.key]">Edit</a>
            </td>
        </tr>
    </tbody>
</table>
